<!DOCTYPE html>
<html lang="es-ar">
<head>
    
    <title>Mis Series</title>

    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />
</head>

<body>

    
    <div class="body">
        <h1>Mis Series - Iniciar Session</h1>
        <form action="/usuario/login" method="POST" accept-charset="utf-8" class="form-ui">
        
        <p>Iniciar Session</p>            
        <p>
        <input type="text" name="username" placeholder="usuario" class="icon-user" /> 
        </p>
        <p>
        <input type="password" name="password" placeholder="contraseña" class="icon-lock" />
        </p>
        <p>
        <input type="submit" value="Login" class="metro-ui-button blue">
        </p>
        </form>
    </div>
    
    
</body>

</html>
