<!DOCTYPE html>
<html lang="es-ar">
<head>
    
    <title>Mis Series</title>
    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />    
</head>

<body>
    <div class="body">
    <h1>Mis Series</h1>

    <ul>
        <li><a href="" title="">Home</a></li>
        <li><a href="" title="">Calendario</a></li>
        <li><a href="" title="">Agregar Serie</a></li>
        <li><a href="" title="">Listado</a></li>
    </ul>

    <br />

    <form action="/auth/registrar" method="POST" class="form-ui">

        <p>
        <input type="text" name="username" value="" placeholder="Usuario" />
        </p>
        <p>
        <input type="password" name="password" value="" placeholder="Contraseña" />
        </p>
        <p>
        <input type="text" name="name" value="" placeholder="Nombre" />
        </p>
        <p>
        <input type="text" name="email" value="" placeholder="Email" />
        </p>                

        <p>
        <input type="submit" value="Registrar" class="metro-ui-button blue">
        <input type="reset" value="Limpiar" class="metro-ui-button blue">
        </p>
        
    </form>

    
    </div>
</body>

</html>
