<!DOCTYPE html>
<html lang="es-ar">
<head>
    
    <title>Mis Series</title>

    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />
</head>

<body>
    <div class="body">
        <h1>Iniciar Session</h1>
        <nav>
        <ul>
            <li><a href="/" title="">Home</a></li>
            <li><a href="/auth/login" title="">Iniciar Session</a></li>
            <li><a href="/auth/registrar" title="">Crear Cuenta</a></li>
        </ul>
        </nav>
        <br />
        <br />
        
        <a href="/auth/login">Iniciar Session</a>
    </div>
    
    
</body>

</html>
