<!DOCTYPE html>
<html lang="es-ar">
<head>
    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/page-style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />
    <title>Mis Series</title>
</head>

<body>    
<header>
    <div class="header">
        <p>MIS SERIES</p>
    
        <nav>
            <ul>
            % if is_login: #
                <li><a href="/cronograma" title="">Cronograma</a></li>
                <li><a href="/series/ver-hoy" title="">Ver Hoy</a></li>
                <li><a href="/series/listado" title="">Mis Series</a></li>
                <li><a href="/auth/logout" title="">Cerrar Session</a></li>
            % else:
                <li><a href="/" title="">Home</a></li>
                <li><a href="/auth/login" title="">Iniciar Session</a></li>
                <li><a href="/auth/registrar" title="">Nuevo Usuario</a></li>
            % end
            </ul>
        </nav>
    </div>
</header>    

<section>

        <h1>Home</h1>
        <h2>Bienvenidos a MisSeries.com</h2>
        

    

</section>

    
</body>

</html>
