<!DOCTYPE html>
<html lang="es-ar">
<head>
    
    <title>Mis Series</title>
    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/style.css" />
</head>

<body>
    <div class="body">
    <h1>Mis Series</h1>

    <ul>
        <li><a href="" title="">Home</a></li>
        <li><a href="" title="">Calendario</a></li>
        <li><a href="" title="">Agregar Serie</a></li>
        <li><a href="" title="">Listado</a></li>
    </ul>
    </div>
</body>

</html>
