<!DOCTYPE html>
<html lang="es-ar">
<head>
    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/page-style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />
    <link rel="stylesheet" href="/media/styles/fancy-notifications.css" />
    <title>Mis Series</title>
</head>

<body>    
<header>
    <div class="header">
        <p>MIS SERIES</p>
    
        <nav>
            <ul>
                <li><a href="/" title="">Cronograma</a></li>
                <li><a href="" title="">Mis Series</a></li>
                <li><a href="/auth/logout" title="">Cerrar Session</a></li>
            </ul>
        </nav>
    </div>
</header>    

<section>
        <br />
        <br />
        <br />
        <p>
            {{ message }}
        </p>
    
</section>

    
</body>

</html>
