<!DOCTYPE html>
<html lang="es-ar">
<head>
    <title>Mis Anime</title>
    
</head>

<body>
    <h1>Registrar Anime</h1>

    <form action="registrar-submit" method="post" class="form-ui">
        <p>
        <label>Nombre Anime:</label>
        <input type="text" name="name" value=""/>
        </p>

        <p>
        <label>Dia que Sale</label>
        <select name="dia">
            <option value="Lunes">Lunes</option>
            <option value="Martes">Martes</option>
            <option value="Miercoles">Miercoles</option>
            <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sabado">Domingo</option>
            <option value="Domingo">Domingo</option>
        </select> 
        </p>

        <p>
        <label>Url:</label>
        <input type="text" name="url" value=""/>
        </p>

        <p>
        <input type="submit" value="Registrar" />  
        </p>
        
    </form>

    
    
</body>

</html>
