<!DOCTYPE html>
<html lang="es-ar">
<head>
    <link rel="stylesheet" href="/media/styles/reset.css" />
    <link rel="stylesheet" href="/media/styles/page-style.css" />
    <link rel="stylesheet" href="/media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="/media/styles/forms-ui.css" />
    <title>Mis Series</title>
</head>

<body>    
<header>
    <div class="header">
        <p>MIS SERIES</p>
    
        <nav>
            <ul>
                <li><a href="/" title="">Home</a></li>
                <li><a href="/auth/login" title="">Iniciar Session</a></li>
                <li><a href="/auth/registrar" title="">Nuevo Usuario</a></li>
            </ul>
        </nav>
    </div>
</header>    

<section>

        <h1>Error Autenticacion</h1>

        <p>No posees suficiente permisos para acceder a esta area, por fabor
        inicie session, o si este no es el caso reporte el problema con el administrador
        del sitio.</p>
        

    

</section>

    
</body>

</html>
