<!DOCTYPE html>
<html lang="es-ar">
<head>
    <link rel="stylesheet" href="media/styles/reset.css" />
    <link rel="stylesheet" href="media/styles/page-style.css" />
    <link rel="stylesheet" href="media/styles/metro-ui-buttons.css" />
    <link rel="stylesheet" href="media/styles/forms-ui.css" />
    <title>Mis Series</title>
</head>

<body>    
<header>
    <div class="header">
        <p>MIS SERIES</p>
    
        <nav>
            <ul>
                <li><a href="" title="">Calendario</a></li>
                <li><a href="" title="">Mis Series</a></li>
                <li><a href="" title="">Capitulos Para Hoy</a></li>
                <li><a href="" title="">Despedirse</a></li>
            </ul>
        </nav>
    </div>
</header>    

<section>

        <h1>Iniciar Session</h1>

        <div style="width:500px; margin: 0 auto;">                      
        <form action="/auth/login" method="POST" accept-charset="utf-8" class="form-ui">         
        <p>
        <input type="text" name="username" placeholder="usuario" class="icon-user" /> 

        <input type="password" name="password" placeholder="contraseña" class="icon-lock" />

        <input type="submit" value="Login" class="metro-ui-button grey">
        </p>
        </form>
        </div>

</section>

    
</body>

</html>
