h1, h2, h3, p {
    //font-family: Segoe-UI, Verdana;
    margin-bottom: 10pt;
}

h1 {
    font-size: 28pt;
}

p {
    font-size: 12pt;
}

.body {
    margin-top: 20px;
    width: 800px;
    margin: 0 auto;
    min-height: 400px;
    padding: 10px 10px;
    border: 1px solid #BBB;
}

nav ul {
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: Segoe-UI, Arial;
    font-size: 11pt;
    color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #E64A00;
}


.table {
    font-size: 12pt;
    font-family: Segoe-UI;
    border: 1px solid #AAA;
}

.table th {
    background-color: #EEE;
    padding: 5px 10px;
    border-left: 1px solid #AAA;
}

.table th:first-child {
    border-left: 0;
}

table td {
    padding: 3px 5px;
    font-size: 11pt;
    border-left: 1px solid #AAA;
}

.table td:first-child {
    border-left: 0;
}

table tr {
    border-bottom: 1px solid #AAA;
}
